.place-details {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #ffffff;
  border: 3px solid rgb(228, 225, 225);

}

.place-details__header {
  display: flex;
  width: 100%;
}
.place-details__name {
  color: var(--secondary-color);
  font-size: 40px;
  margin: 10px 0;
  text-align: center;
}
.place-details__description {
  text-align: center;
  margin: 10px 0;
}

.place-details__value {
  text-align: left; 
}
.place-details__info-row {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: nowrap;
  width: auto; 
  text-align: center; 
  gap: 10px;
  margin-bottom: 10px;
}
.place-details__label {
  font-weight: bold;
  color: black;
  text-align: right; 
}
.place-details__phone {
  cursor: pointer;
  color: var(--secondary-color);
  text-decoration: underline;
}
.place-details__phone:hover {
  color: var(--hover-color);
  transition: color 0.3s ease;
}
.dropdown {
  position: relative;
  z-index: 10;
}
.dropdown-menu {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}
.dropdown-menu.open {
  max-height: 300px;
  opacity: 1;
}
.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}
.dropdown-menu li:last-child {
  border-bottom: none;
}
.dropdown-menu li:hover {
  background-color: var(--hover-color);
  transition: background-color 0.3s ease;
}

.place-details__image-container {
  position: relative;
  max-width: 50%;
}

.place-details__image {
  max-width: 100%;
  max-height: 100%;
  width: 250px;
  height: 250px;
  border: 3px solid black;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  object-fit: cover;
}

.place-details__discount {
  background-color: #ffcc00;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  max-width: 25%;
    width: 100%;
  
}

.place-details__info {
  flex: 1;
  padding: 0% 3%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  max-width: 60%;
}

.place-details__info h2 {
  margin: 2% 0%;
  font-size: 40px;
}

.place-details__info p {
  margin: 2% 0;
}

.place-details__actions {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}

.place-details__button {
  width: 100%;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.place-details__button:hover {
  background-color: var(--hover-color);
  transition: background-color 0.3s ease;
}
.place-details__map {
  margin-top: 2%;
}

@media screen and (max-width: 688px) {
  .place-details__image {
    width: 200px;
    height: 200px;
  }
  .place-details__info h2 {
    font-size: 30px;
  }
  .place-details__info {
    max-width: 100%;
  }
}

@media screen and (max-width: 548px) {
  .place-details__header {
    flex-direction: column;
    align-items: center;
  }
  .place-details__info {
    padding: 25px;
  }
  .place-details__image {
    width: 100%;
    height: 100%;
  }
  .place-details__discount {
    max-width: 35%;
  }
  .place-details__info h2 {
    font-size: 24px;
  }
}