:root {
  --primary-color: #272727;
  --secondary-color: #ffd700;
  --desktop: 1440px;
  --hover-color: hsl(48, 93%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

a {
  text-decoration: none;
}
p{
  font-size: clamp(14px, 2vw, 16px);
}
h2{
  font-size: clamp(18px, 2.5vw, 24px);
}
